
.keyboardCont{
    position: absolute;
    margin-left: 330px;
    top: 53%;
}
.keyboardCont{
    display: absolute;
    height: 10rem;
}

.octaveCont{
    width: 15rem;
    position: relative;
}

.whiteKeyCont{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: stretch;
}
.whiteKey{
    flex: 1;
}

.whiteKey:hover{
cursor: pointer;;
}

.whiteKey:active{
background-color: aqua;
}
.blackKeyCont{
    position: absolute;
    top: 0%;
    display: flex;
    height: 50%;
    width: 100%;
    align-items: stretch;
}

.blackKey{
    flex: 1;
}

.blackKey{
    background: black;
}

.ghostKey{
    flex: 0.5;
    opacity: 0;
    pointer-events: none;
}

.keyboardCont {
  display: flex;
  height: 10rem;
}
.octaveCont {
  position: relative;
  width: 15rem;
}
.whiteKeyCont {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: stretch;
}
.whiteKey {
  flex: 1;
}
.whiteKey:hover {
  cursor: pointer;
}
.whiteKey:active {
  background-color: aqua;
}
.blackKeyCont {
  position: absolute;
  top: 0%;
  display: flex;
  height: 50%;
  width: 100%;
  align-items: stretch;
  pointer-events: none;
}
.blackKey {
  flex: 1;
  pointer-events: all;
}
.ghostKey {
  flex: 0.5;
  opacity: 0;
}

.blackKey:hover {
    cursor: pointer;
}

.blackKey:active {
    background-color: blue;
}

#octave1 .whiteKey:active{
    background-color: blue;
}

.square1{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 68%;
    left: 23.2%;
}

.square2{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 68%;
    left: 39.5%;
}

.square3{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 68%;
    left: 55.76%;
}

.square4{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 58.8%;
    left: 24.8%;
}

.square5{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 58.8%;
    left: 41.15%;
}

.square6{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 58.8%;
    left: 57.45%;
}

.triangle1{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 68.2%;
    left: 25.5%;
}

.triangle2{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 68.2%;
    left: 41.8%;
}


.triangle3{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 68.2%;
    left: 58.1%;
}

.triangle4{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 58.9%;
    left: 26.8%;
}

.triangle5{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 58.9%;
    left: 43.1%;
}

.triangle6{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 58.9%;
    left: 59.45%;
}

