
.keyboardCont{
    position: absolute;
    margin-left: 330px;
    top: 53%;
}
.keyboardCont{
    display: absolute;
    height: 10rem;
}

.octaveCont{
    width: 15rem;
    position: relative;
}

.whiteKeyCont{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: stretch;
}
.whiteKey{
    flex: 1;
}

.whiteKey:hover{
cursor: pointer;;
}

.blackKeyCont{
    position: absolute;
    top: 0%;
    display: flex;
    height: 50%;
    width: 100%;
    align-items: stretch;
}

.blackKey{
    flex: 1;
}

.blackKey{
    background: black;
}

.ghostKey{
    flex: 0.5;
    opacity: 0;
    pointer-events: none;
}

.keyboardCont {
  display: flex;
  height: 10rem;
}
.octaveCont {
  position: relative;
  width: 15rem;
}
.whiteKeyCont {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: stretch;
}
.whiteKey {
  flex: 1;
}
.whiteKey:hover {
  cursor: pointer;
}

.blackKeyCont {
  position: absolute;
  top: 0%;
  display: flex;
  height: 50%;
  width: 100%;
  align-items: stretch;
  pointer-events: none;
}
.blackKey {
  flex: 1;
  pointer-events: all;
}
.ghostKey {
  flex: 0.5;
  opacity: 0;
}

.blackKey:hover {
    cursor: pointer;
}

.whiteKey.hover{
    cursor: pointer;
}

#octave1 .whiteKey:active{
    background-color: #8faaef;
}

#octave1 .blackKey:active{
    background-color: #C98fef;
}

#octave2 .whiteKey:active{
    background-color: #5e81db;
}

#octave2 .blackKey:active{
    background-color: #9e5edb;
}

#octave3 .whiteKey:active{
    background-color: #3252A4;
}

#octave3 .blackKey:active{
    background-color: #6632a4;
}


.square1{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 68%;
    left: 23.2%;
}

.square2{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 68%;
    left: 39.5%;
}

.square3{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 68%;
    left: 55.76%;
}

.square4{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 58.8%;
    left: 24.8%;
}

.square5{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 58.8%;
    left: 41.15%;
}

.square6{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 58.8%;
    left: 57.45%;
}

.triangle1{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 68.2%;
    left: 25.5%;
}

.triangle2{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 68.2%;
    left: 41.8%;
}


.triangle3{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 68.2%;
    left: 58.1%;
}

.triangle4{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 58.9%;
    left: 26.8%;
}

.triangle5{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 58.9%;
    left: 43.1%;
}

.triangle6{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 58.9%;
    left: 59.45%;
}

.circle1{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 68.2%;
    left: 27.8%;
}

.circle2{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 68.2%;
    left: 44.1%;
}
.circle3{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 68.2%;
    left: 60.4%;
}

.heart4{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 58.7%;
    left: 31.75%;
}

.heart5{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 58.7%;
    left: 48.1%;
}

.heart6{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 58.7%;
    left: 64.4%;
}

.heart1{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 67.8%;
    left: 30%;
}

.heart2{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 67.8%;
    left: 46.3%;
}

.heart3{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 67.8%;
    left: 62.6%;
}

.hexagon1{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 67.9%;
    left: 32.3%;
}

.hexagon2{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 67.9%;
    left: 48.6%;
}

.hexagon3{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 67.9%;
    left: 64.9%;
}

.hexagon4{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 58.7%;
    left: 33.75%;
}

.hexagon5{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 58.7%;
    left: 50.1%;
}

.hexagon6{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 58.7%;
    left: 66.4%;
}

.rhombus1{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 67.9%;
    left: 34.6%;
}

.rhombus2{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 67.9%;
    left: 50.97%;
}

.rhombus3{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 67.9%;
    left: 67.3%;
}

.rhombus4{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 58.7%;
    left: 35.8%;
}

.rhombus5{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 58.7%;
    left: 52.1%;
}

.rhombus6{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 58.7%;
    left: 68.5%;
}

.star1{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 67.5%;
    left: 37%;
}

.star2{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 67.5%;
    left: 53.3%;
}

.star3{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 67.5%;
    left: 69.7%;
}
