body {
   display: grid; 
   grid-template-rows: 50px;
   grid-template-columns: 50px;   
}

.billyBackground{
    grid-column: 1/48;
    grid-row: 1/30;
    width: 100%;
    height: 100%;
}

body {
    background-color: #acc0f5;
}

.reverbSlider{
    grid-column: 24/27;
    grid-row: 32/33;
}

.playButton{
position: absolute;
top: 24%;
left: 68%;
background-color: transparent;
border: none;
width: 40px;
height: 40px;
}

.pauseButton{
position: absolute;
top: 32%;
left: 69%;
background-color: transparent;
border: none;
width: 40px;
height: 40px;
}

.bassImage{
    position: absolute;
    top: 97%;
    left: 65%;
    width: 45px;
    height: 45px;
}

.reverbImage{
    position: absolute;
    top: 94%;
    left: 24.9%;
    width: 45px;
    height: 45px;
}

.distortionImage{
    position: absolute;
    top: 85%;
    left: 15%;
    width: 45px;
    height: 45px;
    transform: rotate(180deg);
}

.volumeImage{
    position: absolute;
    top: 88%;
    left:80%;
    width: 45px;
    height: 45px;
}

.volumeSlider{
    transform: rotate(215deg);
    position: absolute;
    top: 81%;
    left: 72%;
}

.reverbSlider{
    transform: rotate(-90deg);
    position: absolute;
    top: 84.5%;
    left: 21%;    
}

.bassSlider{
    transform: rotate(-90deg);
    position: absolute;
    top: 88%;
    left: 62%;    
}

.distortionSlider{
    transform: rotate(-35deg);
    position: absolute;
    top: 78%;
    left: 15%;
}

.randomiseButton{
position: absolute;
top: 5%;
left: 88.5%;
background-color: transparent;
border: none;
width: 40px;
height: 35px;
}

.bellButton{
position: absolute;
top: 50%;
left: 75%;
background-color: transparent;
border: none;
width: 40px;
height: 40px;
}

.cymbalButton{
position: absolute;
top: 46%;
left: 72%;
background-color: transparent;
border: none;
width: 40px;
height: 40px;
}

.metronomeButton{
position: absolute;
top: 43.5%;
left: 69%;
background-color: transparent;
border: none;
width: 40px;
height: 40px;
}

.drumButton{
position: absolute;
top: 41%;
left: 66%;
background-color: transparent;
border: none;
width: 40px;
height: 40px;
}

.slideContainer{
    width: 100%; 
}

.bassSlider {
    -webkit-appearance: none;
    width: 135px;
    height: 20px;
    background: linear-gradient(90deg, #DDDDDDDD);
    border-radius: 12px;
}

.bassSlider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    background: url('Assets/scaleIcon.PNG') no-repeat center center;
    background-size: cover;
    cursor: pointer;
    transform: rotate(90deg);
}
.reverbSlider {
    -webkit-appearance: none;
    width: 135px;
    height: 20px;
    background: linear-gradient(90deg, #DDDDDDDD);
    border-radius: 12px;
}

.reverbSlider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    background: url('Assets/scaleIcon.PNG') no-repeat center center;
    background-size: cover;
    cursor: pointer;
    transform: rotate(90deg);
}

.volumeSlider {
    -webkit-appearance: none;
    width: 135px;
    height: 20px;
    background: linear-gradient(90deg, #DDDDDDDD);
    border-radius: 12px;
}

.volumeSlider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    background: url('Assets/scaleIcon.PNG') no-repeat center center;
    background-size: cover;
    cursor: pointer;
    transform: rotate(180deg);
}

.distortionSlider {
    -webkit-appearance: none;
    width: 135px;
    height: 20px;
    background: linear-gradient(90deg, #DDDDDDDD);
    border-radius: 12px;
}

.distortionSlider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    background: url('Assets/scaleIcon.PNG') no-repeat center center;
    background-size: cover;
    cursor: pointer;
    border-radius: 10px;
}

.dialogPhoto{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 3%;
    left: 1%;
}

.dialogPhoto2{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 64%;
    left: 90%;
}

.introDialog{
padding: 2%;
border-radius: 12px;
border-color: #3252A4;
border-width: 4px;
background-color: #acc0f5;
}

.dialogPhoto3{
    width: 65px;
    height: 65px;
    position: absolute;
    top: 52%;
    left: 4%;
}

.dialogButton{
position: absolute;
top: 78%;
left: 6.8%;
background-color: transparent;
border: none;
}
