
.keyboardCont{
    display: flex;
    height: 10rem;
}

.octaveCont{
    width: 15rem;
    position: relative;
}

.whiteKeyCont{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: stretch;
}
.whiteKey{
    flex: 1;
}

.whiteKey:hover{
cursor: pointer;;
}

.whiteKey:active{
background-color: aqua;
}
.blackKeyCont{
    position: absolute;
    top: 0%;
    display: flex;
    height: 50%;
    width: 100%;
    align-items: stretch;
}

.blackKey{
    flex: 1;
}

.ghostKey{
    flex: 0.5;
    opacity: 0;
    pointer-events: none;
}

.keyboardCont {
  display: flex;
  height: 10rem;
}
.octaveCont {
  position: relative;
  width: 15rem;
}
.whiteKeyCont {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: stretch;
}
.whiteKey {
  flex: 1;
}
.whiteKey:hover {
  cursor: pointer;
}
.whiteKey:active {
  background-color: aqua;
}
.blackKeyCont {
  position: absolute;
  top: 0%;
  display: flex;
  height: 50%;
  width: 100%;
  align-items: stretch;
  pointer-events: none;
}
.blackKey {
  flex: 1;
  pointer-events: all;
}
.ghostKey {
  flex: 0.5;
  opacity: 0;
}

.blackKey:hover {
    cursor: pointer;
}

.blackKey:active {
    background-color: blue;
}

img {
    display: flex;
    justify-content: center;
    length: 75%;
    width: 85%;
}