body {
   display: grid; 
   grid-template-rows: 50px;
   grid-template-columns: 50px;   
}

.billyBackground{
    grid-column: 1/48;
    grid-row: 1/30;
    width: 100%;
    height: 100%;
}

.keyboardCont{
    position: absolute;
    margin-left: 330px;
    top: 53%;
}
.keyboardCont{
    display: absolute;
    height: 10rem;
}

.octaveCont{
    width: 15rem;
    position: relative;
}

.whiteKeyCont{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: stretch;
}
.whiteKey{
    flex: 1;
}

.whiteKey:hover{
cursor: pointer;;
}

.whiteKey:active{
background-color: aqua;
}
.blackKeyCont{
    position: absolute;
    top: 0%;
    display: flex;
    height: 50%;
    width: 100%;
    align-items: stretch;
}

.blackKey{
    flex: 1;
}

.blackKey{
    background: black;
}

.ghostKey{
    flex: 0.5;
    opacity: 0;
    pointer-events: none;
}

.keyboardCont {
  display: flex;
  height: 10rem;
}
.octaveCont {
  position: relative;
  width: 15rem;
}
.whiteKeyCont {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: stretch;
}
.whiteKey {
  flex: 1;
}
.whiteKey:hover {
  cursor: pointer;
}
.whiteKey:active {
  background-color: aqua;
}
.blackKeyCont {
  position: absolute;
  top: 0%;
  display: flex;
  height: 50%;
  width: 100%;
  align-items: stretch;
  pointer-events: none;
}
.blackKey {
  flex: 1;
  pointer-events: all;
}
.ghostKey {
  flex: 0.5;
  opacity: 0;
}

.blackKey:hover {
    cursor: pointer;
}

.blackKey:active {
    background-color: blue;
}

body {
    background-color: #acc0f5;
}

.reverbSlider{
    grid-column: 24/27;
    grid-row: 32/33;
}

.playButton{
position: absolute;
top: 24%;
left: 69.6%;
background-color: white;
}

.pauseButton{
position: absolute;
top: 32%;
left: 70%;
background-color: white;
}

.bassImage{
    position: absolute;
    top: 80%;
    left: 65%;
    width: 45px;
    height: 45px;
}

.reverbImage{
    position: absolute;
    top: 79%;
    left: 24%;
    width: 45px;
    height: 45px;
}

.distortionImage{
    position: absolute;
    top: 73%;
    left: 24%;
    width: 45px;
    height: 45px;
}

.volumeImage{
    position: absolute;
    top: 75%;
    left: 72%;
    width: 45px;
    height: 45px;
}

.volumeSlider{
    transform: rotate(35deg);
    position: absolute;
    top: 85%;
    left: 72%;
}

.reverbSlider{
    transform: rotate(90deg);
    position: absolute;
    top: 94%;
    left: 62%;    
}

.bassSlider{
    transform: rotate(90deg);
    position: absolute;
    top: 92%;
    left: 21%;    
}

.distortionSlider{
    transform: rotate(-35deg);
    position: absolute;
    top: 85%;
    left: 14%;
}

.randomiseButton{
position: absolute;
top: 7%;
left: 89.5%;
background-color: white;
}

.bellButton{
position: absolute;
top: 57%;
left: 78%;
background-color: white;
}

.bellButton:hover{
    background-color:  rgb(200, 199, 199);
}

.bellButton:active{
    background-color: aqua;
}

.cymbalButton{
position: absolute;
top: 52%;
left: 75%;
background-color: white;
}

.metronomeButton{
position: absolute;
top: 48%;
left: 71%;
background-color: white;
}

.drumButton{
position: absolute;
top: 44%;
left: 68%;
background-color: white;
}